[Unit]
Description=vault
Wants=network.target
After=network.target

[Service]
Environment="GOMAXPROCS=2" "PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/vault server -dev -config=/etc/vault.d/config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=TERM
User=root

[Install]
WantedBy=multi-user.target
